.Links_Left{
	float: left;
	background-color: white;
	color: blue;
}


.Professional_Networks{
	padding: 0px;
	float: center;
	background-color: #f1f1f1;
}

.linksFooter{
	padding:0px;
	margin: 0px;
	float: center;
	text-align: center;
}

.Footer_List_Element{
	display: inline;
	margin: 5px;
}

#copyright{
	background-color: #f1f1f1;
	padding:0px;
	margin: 0px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}

/*Update for better performance should begin here*/
.Links_Right{
	display: block;
	float: right;
	padding: 0px;
}

.listsClass{
	/*background-color: white;*/
	margin: 0px;
	font-weight: 600px;
	color: blue;
	display: inline-block;	/*KEEPS THEM IN LINE*/
	font-family: Lucida Sans Typewriter;
	padding-right: 5px;
}

.MenuClass{
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	
}
.toggler_button{
	float: right;
}

.toggler_button:hover .dropdown_content {
    display: inline-block;
}


  /*SIZE OF WINDOW WHEN IT COMES OUT-AFTER CLICKED*/
.dropdown_content{
	display: none;
	z-index: 100;
	position: absolute;
	width: 120px; 
	margin-left: -85px;
	margin-top: 5px;
	border: 1px solid #ccc !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	cursor: default;
	overflow: inherit;
}

.dropPict:hover .dropdown-content {
    display: inline-block;
}

.dropdown_pin{
	margin-top: -15px;
	margin-left: 10px;
}

.FirstSection{
	display: inline;
	margin: 5px;
}

.SecondSection{
	display: inline;
	margin: 5px;
}
/*More button has to become a link and redirect to my mobile Apps repository on git hub*/

.More{
	/*background-color: #f1f1f1;*/
	margin: 0px;
	padding: 0px;
	float: center;
	text-align: center;
}
/*Dropdown button when screen size is small*/\
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

nav select {
  display: none;
}

/*Saturday's work down below*/

nav select {
  display: none;
}

/*Defines max-width*/
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

	/*Removes bullet points from links*/
    nav ul {
      list-style: none;
    }
	/*Puts links in line*/
    nav li {
      display: inline-block;
    }

/*Hides Menu Icon & ProfileDown when user's width screen size is <= 960px*/
@media only screen and (max-width: 960px) {
    .MenuClass, .dropPict {
        display: none;
    }
}
/*NavBar*/
.titos{
	display: inline-block;

}
/*Every Link*/
.LinR{
	padding-right:15px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

/*Styling body*/
.Home_logo img {
 display:block;
    margin:auto;
	/*
	    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	*/
}

.SearchHomeBar {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	max-width: 586px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height: 38px;
	border: 1px solid #4d90fe;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 0px;
	padding-left: 9px;
}

#my_tabs{
	height: calc(2*128px + 36px);
	width:462;
	-webkit-user-select: none;
    margin: 0;
    text-align: -webkit-center;
	width:510px; 
	margin:0 auto;
	top: 32px;
	margin-top:10px;
	/*resize: both;
    overflow: auto;*/	
}

#tiles{

  -webkit-user-select: none;
  font-size: 0;
  /* Two rows of tiles of 128px each, and 16px of spacing between the rows.
   * If you change this, also change the corresponding values in
   * local_ntp.css. */
  height: calc(2*128px + 46px);
  margin: 4px 0 8px 0;
  opacity: 1;
  position: relative;
  /* This align correctly for both LTR and RTL */
  text-align: -webkit-auto;
  transition: opacity 1s;
  width:524; 
}
.tile_region,
.mv-empty-tile {
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 12px;
  height: 128px;
  line-height: 100%;
  margin: 0 8px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  width: 154px;
  bottom: 8px;
}

.tile_region {
  background: #f1f1f1;
  margin:10px;  
}

.LogoNewTab {
  left: 7px;
  position: absolute;
  top: 8px;
  bottom: 8px;
}

.page_overview-title {
  height: 15px;
  left: 31px;
  line-height: 14px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-overflow: ellipsis;
  top: 9px;
  width: 120px;
  color: blue; 
}

.page_overview-title {
  height: 15px;
  left: 31px;
  line-height: 14px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-overflow: ellipsis;
  top: 9px;
  width: 120px;
  color: blue;
}

.page_overview {
  cursor: pointer;
  display: block;
  height: 96px;
  overflow: hidden;
  position: absolute;
  top: 32px;
  width: 154px;
}

.mv-empty-tile {
  background: rgb(245,245,245);
}

/*BACKUP FONTS TO USE IN THE FUTURE, ALSO CONSIDER STYLING BUTTON
font: 300 21px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
*/

