.Links_Left{
	float: left;
	background-color: white;
	color: blue;
}


.Professional_Networks{
	padding: 0px;
	float: center;
	background-color: #f1f1f1;
}

.linksFooter{
	padding:0px;
	margin: 0px;
	float: center;
	text-align: center;
}

.Footer_List_Element{
	display: inline;
	margin: 5px;
}

#copyright{
	background-color: #f1f1f1;
	padding:0px;
	margin: 0px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}

/*Update for better performance should begin here*/
.Links_Right{
	display: block;
	float: right;
	padding: 0px;
}

.listsClass{
	/*background-color: white;*/
	margin: 0px;
	font-weight: 600px;
	color: blue;
	display: inline-block;	/*KEEPS THEM IN LINE*/
	font-family: Lucida Sans Typewriter;
	padding-right: 5px;
}

.MenuClass{
	display: inline-block;
	margin: 5px;
	cursor: pointer;
	/*margin-right: 0px;
	padding-right: 0px;*/
	
}

.toggler_button {
  border-radius: 50%;
  /*margin: 20px;*/
  margin-left:20px;
  overflow: hidden;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
  cursor: pointer;
  	margin:0px;
	float: right;
	text-align: right;
	vertical-align: right;
}

.toggler_button{

	/*
	margin-right: 0px;
	padding-right: 0px;*/
}

.toggler_button:hover .dropdown_content {
    display: inline-block;
}

  /*SIZE OF WINDOW WHEN IT COMES OUT-AFTER CLICKED*/
.dropdown_content{
	display: none;
	z-index: 100;
	position: absolute;
	width: 120px; 
	margin-left: -85px;
	margin-top: 5px;
	border: 1px solid #ccc !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	cursor: default;
	overflow: inherit;
}
/*MAY NEED A VERSION FOR APPS MENU*/
.dropPict:hover .dropdown-content {
    display: inline-block;
}

.dropdown_pin{
	margin-top: -15px;
	margin-left: 10px;
}

.FirstSection{
	display: inline;
	margin: 5px;
}

.SecondSection{
	display: inline;
	margin: 5px;
}
/*More button has to become a link and redirect to my mobile Apps repository on git hub*/

.More{
	/*background-color: #f1f1f1;*/
	margin: 0px;
	padding: 0px;
	float: center;
	text-align: center;
}
/*Dropdown button when screen size is small*/\
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

nav select {
  display: none;
}

/*Saturday's work down below*/

nav select {
  display: none;
}

/*Defines max-width*/
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

	/*Removes bullet points from links*/
    nav ul {
      list-style: none;
    }
	/*Puts links in line*/
    nav li {
      display: inline-block;
    }

/*Hides Menu Icon & ProfileDown when user's width screen size is <= 960px*/
@media only screen and (max-width: 960px) {
    .MenuClass, .dropPict {
        display: none;
    }
}
/*NavBar*/
.titos{
	display: inline-block;

}
/*Every Link*/
.LinR{
	padding-right:15px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

/*Styling body*/
.Home_logo img {
 display:block;
    margin:auto;
	
	    position: absolute;
    margin: auto;
    
    left: 0;
    right: 0;
	/*
	top: 0;
    bottom: 0;
	*/
}

.SearchHomeBar {
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	max-width: 586px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-height: 38px;
	border: 1px solid #4d90fe;
	padding-top: 5px;
	padding-right: 9px;
	padding-bottom: 0px;
	padding-left: 9px;
	
	margin:auto;
	margin-top: 200px;
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
	top: 300px;
}

#FooterFix{
	line-height: 0;
	  position: absolute;
  bottom: 0;
  width: 100%;  
}




/*BACKUP FONTS TO USE IN THE FUTURE, ALSO CONSIDER STYLING BUTTON
font: 300 21px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
*/

