/*Header Styling*/
.artLogoApp{
	display: inline-block;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;  
	font-size: 20px;	
}

#blue{
	color: #0000FF;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 20px;
}

#red{
	color: red;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;  
}

#green{
	color: green;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}
