
.card-block{
	text-align: center;
	background-color: #6c757d !important;
	color: #fff;
	border-radius: 15px 50px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}
.col-sm-4{
	background-color: #fff;
	padding: 20px;	
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    border-radius: 15px 50px;
		font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}
.col-sm-4:hover {
    box-shadow: 0 100px 100px 0 rgba(0,0,0,0.2);
	background-color: #6c757d !important;
	border-radius: 15px 50px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}

.Professional_Networks{
	padding: 0px;
	float: center;
	background-color: #f1f1f1;
}

.linksFooter{
	padding:0px;
	margin: 0px;
	float: center;
	text-align: center;
}

.Footer_List_Element{
	display: inline;
	margin: 5px;
}

#copyright{
	background-color: #f1f1f1;
	padding:0px;
	margin: 0px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}
#FooterFix{
	line-height: 0;
}


#button{
	margin: 5px;
	border-radius: 15px 50px;
}

.artLogoApp{
	display: inline-block;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;  
	font-size: 20px;	
}

#blue{
	color: #0000FF;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 20px;
}

#red{
	color: red;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;  
}

#green{
	color: green;
	font-weight:bold;
	font-size:20px;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
}

/*Update for better performance should begin here*/
.Links_Right{
	display: inline-block;
	float: right;
	margin: 10px;
	color: blue;
	text-align: right;
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 18px;
}

.testing{
	float: left;
	color: blue;
}

.listsClass{
	/*background-color: white;*/
	margin: 0px;
	font-weight: 600px;
	color: blue;
	display: inline-block;	/*KEEPS THEM IN LINE*/
	font-family: Lucida Sans Typewriter;
	padding-right: 5px;
}

.MenuClass{
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}

.toggler_button:hover .dropdown_content {
    display: inline-block;
}


  /*SIZE OF WINDOW WHEN IT COMES OUT-AFTER CLICKED*/
.dropdown_content{
	display: none;
	z-index: 100;
	position: absolute;
	width: 120px; 
	margin-left: -85px;
	margin-top: 5px;
	border: 1px solid #ccc !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	cursor: default;
	overflow: inherit;
}

.dropPict:hover .dropdown-content {
    display: inline-block;
}

.dropdown_pin{
	margin-top: -15px;
	margin-left: 10px;
}

.FirstSection{
	display: inline;
	margin: 5px;
}

.SecondSection{
	display: inline;
	margin: 5px;
}
/*More button has to become a link and redirect to my mobile Apps repository on git hub*/

.More{
	/*background-color: #f1f1f1;*/
	margin: 0px;
	padding: 0px;
	float: center;
	text-align: center;
}
/*Dropdown button when screen size is small*/\
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

nav select {
  display: none;
}

/*Saturday's work down below*/

nav select {
  display: none;
}

/*Defines max-width*/
@media (max-width: 960px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

	/*Removes bullet points from links*/
    nav ul {
      list-style: none;
    }
	/*Puts links in line*/
    nav li {
      display: inline-block;
    }

/*Hides Menu Icon & ProfileDown when user's width screen size is <= 960px*/
@media only screen and (max-width: 960px) {
    .MenuClass, .dropPict {
        display: none;
    }
}

.titos{
	display: inline-block;
}

.LinR{
	padding:10px;
}

.Artlogolink{
	
}

/*BACKUP FONTS TO USE IN THE FUTURE, ALSO CONSIDER STYLING BUTTON
font: 300 21px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
*/

